* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100%;
  background: #3ebeff;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 40px;
}

.navbar {
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.btn {
  background: white;
  color: black;
  padding: 10px 28px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.hero-title {
  margin-top: 90px;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 12px;
}
.arrow {
  width: 45px;
  height: 80px;
  margin-top: 60px;
}
.another-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1280px;
  height: 950px;
  border: none;
  background-size: cover;
  margin: 0;
}
.box {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}
.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1280px;
  height: 700px;
  margin: 0;
  border: none;
}
.box-2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}
.testimonials-section {
  padding: 80px 20px;
  text-align: center;
  background: #faf7f2;
  font-family: Arial, sans-serif;
}

.title {
  letter-spacing: 5px;
  font-size: 18px;
  color: #9d9d9d;
  margin-bottom: 60px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 330px;
  text-align: center;
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.testimonial-text {
  font-size: 15px;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 30px;
}

.name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

.role {
  font-size: 13px;
  color: #a0a0a0;
  margin: 0;
}
.image-gallary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1280px;
  height: 400px;
  padding: 0;
  margin: 0;
  border: none;
}
.box-3 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer {
  background: #90d4c5;
  padding: 70px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-logo {
  font-size: 28px;
  color: #2d7264;
  margin-bottom: 40px;
  font-weight: 700;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #2d7264;
  font-size: 16px;
  font-weight: 600;
}

.footer-icons a {
  font-size: 20px;
  margin: 0 15px;
  color: #2d7264;
  transition: 0.3s;
}

.footer-icons a:hover {
  opacity: 0.7;
}
.btn {
  border-radius: 20px;
  width: 65px;
  border: none;
  color: black;
  font-family: serif;
  cursor: pointer;
}
