* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
  background-image: url(image-header.png);
}
.nav-container {
  height: 70px;
  display: flex;
  align-items: center;
}
.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-left: 800px;
  list-style: none;
  gap: 15px;
}
.test-1 {
  display: flex;
  margin-top: 200px;
  text-align: center;
  margin-right: 1800px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.another-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1200px;
  height: 800px;
  margin: 20px auto;
  border: 1px solid black;
}
.box {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px black solid;
}
.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  height: 700px;
  margin: 20px auto;
  border: 1px solid black;
}
.box-2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px black solid;
}
.testimonials-section {
  padding: 80px 20px;
  text-align: center;
  background: #faf7f2;
  font-family: Arial, sans-serif;
}

.title {
  letter-spacing: 5px;
  font-size: 18px;
  color: #9d9d9d;
  margin-bottom: 60px;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 330px;
  text-align: center;
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.testimonial-text {
  font-size: 15px;
  color: #606060;
  line-height: 1.6;
  margin-bottom: 30px;
}

.name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

.role {
  font-size: 13px;
  color: #a0a0a0;
  margin: 0;
}
.image-gallary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  height: 400px;
  margin: 20px;
  border: 1px solid black;
}
.box-3 {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer {
  background: #90d4c5;
  padding: 70px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-logo {
  font-size: 28px;
  color: #2d7264;
  margin-bottom: 40px;
  font-weight: 700;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #2d7264;
  font-size: 16px;
  font-weight: 600;
}

.footer-icons a {
  font-size: 20px;
  margin: 0 15px;
  color: #2d7264;
  transition: 0.3s;
}

.footer-icons a:hover {
  opacity: 0.7;
}
